@import url("/shadows/common.css");

.root {
    background-color: white;
    display: flex;
    flex-direction: column;
    height: 100%;
    position: absolute;
    transform: translate3d(100%, 0, 0);
    width: 100%;
}

.row {
    display: flex;
}

.padding {
    padding: 8px;
}

#connectionInfo {
    flex-grow: 2;
}

#chatArea {
    flex-grow: 1;
    position: relative;
}

#messages {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 145px;
    overflow-y: auto;
    scroll-behavior: smooth; 
}

#clientsList {
    background-color: #f0f0f0;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    overflow-y: auto;
    width: 145px;
}

#message-input {
    width: calc(100% - 100px);
}

#send-btn, #disconnect-btn {
    margin-left: 10px;
}